function main 1
push constant 5
pop local 0

label START
push local 1
push constant 5
gt
if-goto END

push local 1
push local 2
add
pop local 2

push local 1
push constant 1
add
pop local 1

goto START

label END

function main2 456
call main 5
return
function main 4